<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personnel.vacation.mapper.VacationMapper">
    <select id="getMyPageVacation" resultType="com.personnel.vacation.bean.Vacation">
      select *
        from personnel_vaction 
       where createdId = #{createdId}
       limit #{offset},#{limit};
    </select>
    
    <select id="countMyPageVacation" resultType="int">
      select count(*)
        from personnel_vaction 
       where createdId = #{createdId}
    </select>
    
    <insert id="saveVacation" useGeneratedKeys="true" keyProperty="id"  parameterType="com.personnel.vacation.bean.Vacation">
  insert into personnel_vaction(name,nameId,startDateTime,endDateTime,countDate,type,comment,auditStatus,auditProcess,createdId,createDateTime)
       values (#{name}, #{nameId}, #{startDateTime}, #{endDateTime}, #{countDate}, #{type}, #{comment}, #{auditStatus}, #{auditProcess}, #{createdId}, now());
    </insert>
    
    <insert id="saveAuditRecord" parameterType="com.system.template.record.bean.AuditRecord">
  insert into system_audit_record(billId,billTable,name,number,templateId,template_subId,level,roleId,employeeId,audit_status,audit_comment,auditedId,auditedDateTime,createdId,createDateTime)
       values (#{billId}, #{billTable}, #{name}, #{number}, #{templateId}, #{template_subId}, #{level}, #{roleId}, #{employeeId}, #{audit_status}, #{audit_comment}, #{auditedId}, #{auditedDateTime}, #{createdId}, now());
    </insert>
    
    <select id="findTemplateProcess" resultType="com.system.template.process.bean.ProcessTemplateSub">
       select *
         from system_process_template_sub 
        where templateId = 
            (
       select id 
         from system_process_template
        where name = '请假流程'
            );
    </select>
    
    <select id="getApprovalVacation" resultType="com.personnel.vacation.bean.Vacation">
     select *
       from personnel_vaction 
      where auditStatus = '审核中' 
 and EXISTS
          (
     select * 
       from system_audit_record 
      where billId = personnel_vaction.id 
        and audit_status = '待审核'
        and 
          ( employeeId = 
          ( select employeeId from system_user_employee where userId = #{createdId}
          ) 
         or roleId in 
          ( select roleId from system_user_role where userId = #{createdId}
          )
          )
          )
      limit #{offset},#{limit};
    </select>
    
    <select id="countApprovalVacation" resultType="int">
     select count(*)
       from personnel_vaction 
      where auditStatus = '审核中' 
 and EXISTS
          (
     select * 
       from system_audit_record 
      where billId = personnel_vaction.id 
        and audit_status = '待审核'
        and 
          ( employeeId = 
          ( select employeeId from system_user_employee where userId = #{createdId}
          ) 
         or roleId in 
          ( select roleId from system_user_role where userId = #{createdId}
          )
          )
          )
    </select>
    
    <select id="findVacation" resultType="com.personnel.vacation.bean.Vacation">
      select * 
        from personnel_vaction
       where id = #{id}
    </select>
    
    <select id="findRecord" resultType="com.system.template.record.bean.AuditRecord">
    select * 
      from system_audit_record
     where billId = #{billId}
       and billTable = #{billTable}
       and audit_status is not null 
       and audit_status != '待审核'
  order by level
    </select>
    
    <update id="updateApprovalVacation" parameterType="com.system.template.record.bean.AuditRecord">
        update system_audit_record 
        <set>
           audit_status = '已审核',
           audit_result = #{audit_result},
           audit_comment = #{audit_comment},
           auditedId = #{auditedId},
           auditedDateTime = now()
        </set>
           where billId = #{billId} 
             and audit_status = '待审核'
    </update>
    
    <select id="findAuditRecord" resultType="com.system.template.record.bean.AuditRecord">
        select * 
        from system_audit_record
       where audit_status = '待审核'
         and billId=#{billId}
         and billTable = #{billTable}
    </select>
    
    <update id="updateVacation">
        update personnel_vaction
        <set>
            auditStatus = #{status},
            auditProcess = #{result}
        </set>
        where id =#{id};
    </update>
    
    <update id="updateApprovalNext">
        update system_audit_record
        <set>
        audit_status = '待审核'
        </set>
        where billId=#{billId}
         and billTable = #{billTable}
         and level = #{level}
    </update>
</mapper>
